{% extends "base.html" %}
{% block head %}
  {% load static %}
<link rel="stylesheet" href="{% static 'home.css' %}?v={{ now|date:'U' }}">
{% endblock head %}
{% block body %}
<div class="products_details_template">
    {% for product in products %}
    <div class="product_card">
        <img src="media/{{product.product_image}}" width="150px"  class="product_card_items product_image">
        <hr>
        <p class="product_card_items product_name">{{product.product_name}}</p>
        <hr>
        <button class="product_card_items product_details_button">{{product.product_price}}$</button>
    </div>
    {% endfor %}
</div>
<hr>
{% endblock body %}