{% extends "base.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'sign_in_form.css' %}?v={{ now|date:'U' }}">
{% endblock head %}
{% block body %}
<form action="login" method="post" class="sign_in_form">
    <input type="file" class="profile_pic" placeholder="Profile Pic" name="profile_pic" id="profile_pic">
    <input type="text" class="first_name form_text_items" placeholder="First name" name="first_name" id="first_name">
    <input type="text" class="last_name form_text_items" placeholder="Last Name" name="last_name" id="last_name">
    <input type="text" placeholder="User Name" class="user_name form_text_items" name="user_name" id="user_name">
    <input type="email" placeholder="Email" class="email form_text_items" name="email" id="email">
    <input type="password" class="password form_text_items" placeholder="password" name="password" id="password">
    <input type="text" class="confirm_password form_text_items" placeholder="Confirm Password" name="confirm_password" id="confirm_password">
    <button type="submit">Login</button>
</form>
{% endblock body %}