.products_details_template {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    column-gap: 30px;
    justify-content: center;
    row-gap: 30px;
}
.product_card
{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:black;
    border-radius: 5px;
    align-items: center;
    justify-content: space-around;
    transition-duration: 0.3s;
}
.product_card:hover
{
    transform: scale(1.1);
}
.product_card_items
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.product_name
{
     width: 150px;            
  /* white-space: nowrap;     
  overflow: hidden;        
  text-overflow: ellipsis; 
  display: inline-block;      */
}
.product_details_button
{
    width: 100px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    color: rgb(0, 0, 0);
    transition-duration: 0.3s;
}
.product_details_button:hover
{
    color: white;
    background-color: black;
}
.product_price
{
    font-weight: 500;
}